AdvancesTechniquesUP.Desktop/Service References/SynchronizeBookings/BookingWcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5306/Wcf/BookingWcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AdvancedTechniques.Web.Wcf.DataContracts" />
  <xs:element name="SynchronizeBookings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeBookingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AdvancedTechniques.Web.Wcf.DataContracts" minOccurs="0" name="SynchronizeBookingsResult" nillable="true" type="q1:ArrayOfBookingContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>