AdvancesTechniquesUP.Desktop/Service References/SynchronizeBookings/BookingWcfService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdvancedTechniques.Web.Wcf.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdvancedTechniques.Web.Wcf.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookingContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingContract" nillable="true" type="tns:BookingContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingContract" nillable="true" type="tns:ArrayOfBookingContract" />
  <xs:complexType name="BookingContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:CustomerContract" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Table" nillable="true" type="tns:TableContract" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="salesChannel" type="tns:SalesChannelContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingContract" nillable="true" type="tns:BookingContract" />
  <xs:complexType name="CustomerContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerContract" nillable="true" type="tns:CustomerContract" />
  <xs:complexType name="TableContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bookings" nillable="true" type="tns:ArrayOfBookingContract" />
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TableContract" nillable="true" type="tns:TableContract" />
  <xs:simpleType name="SalesChannelContract">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="SalesChannelContract" nillable="true" type="tns:SalesChannelContract" />
</xs:schema>